{% extends 'base.html' %}

{% block title %} Feedback Stack - {{ user.username }} {% endblock %}

{% block content %}

<ul>
    <li>Username: {{ user.username }}</li>
    <li>Email: {{ user.email }}</li>
    <li>Name: {{ user.first_name }} {{ user.last_name}}</li>
</ul>

<div id="feedback">
    <h4>Feedback:</h4>
    {% for i in feedback %}
    <div class="feedback-container container-fluid" data-id="{{ i.id }}">
        <h6 class="title-fb" data-id="{{ i.id }}">{{ i.title }}</h6>
        <p class="content-fb" data-id="{{ i.id }}">
            {{ i.content }}
        </p>
        <form>
            <button type="submit" class="edit-fb btn btn-primary" data-id="{{ i.id }}"
                data-user="{{ user.username }}">Edit</button>
            <button type="submit" class="del-fb btn btn-primary" data-user="{{ user.username }}"
                data-id="{{ i.id }}">Delete</button>
            <button type="submit" class="submit-fb btn btn-primary" data-user="{{ user.username }}"
                data-id="{{ i.id }}">Submit</button>

        </form>
    </div>
    {% endfor %}

</div>
{% endblock %}